body{
  font-family: 'Baloo Da 2', Arial;
  margin: 0;
  /* width: 1000px; */
  /* margin: 0 auto; */
  /* background-color: #1c2127; */
  /* justify-content: center; */
}

h1, h2, h3, h4, h5, h6{
  font-family: Ubuntu, Arial;
  font-weight: normal;
}

h1{
  line-height: 1.5em;
  font-size: 40px;
  letter-spacing: -.3px;
  margin: 0;
  /* text-transform: uppercase; */
  /* text-decoration: underline; */
}

h2{
  color: #056fff;
  text-transform: uppercase;
  font-family: Ubuntu, sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 35px;
  margin-left: 15px;
}

ol, ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

figure{
  margin: 0;
}

.header{
  background-color: #2d3436;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  height: 130px;
}

.container{
  /* border: 1px solid red; */
  width: 1000px;
  height: inherit;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  flex-wrap: inherit;
}

.header a{
  color: white;
  text-decoration: none;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.menu{
  height: inherit;
}
.header ul{
  display: flex;
  height: inherit;
}
.header ul li{
  height: inherit;
}

.hero{
  height: 300px;
  color: white;
  background-color: #2d3436;
  /* background-image: url('../images/mesa2.jpg');
  background-size: 500px 300px;
  background-repeat: no-repeat;
  background-position-x: right; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero strong{
  color: blue;
}
.hero-img{
  object-fit: cover;
}
.portfolio{
  background: #f1f1f1;
  /* padding: 20px; */
}

.images{
  border: 1px solid gray;
  border-radius: 10px;
  /* margin: 10px; */
  margin-bottom: 15px;
  padding: 20px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* border-top: 10px solid red;
  border-left: 10px solid blue;
  border-right: 10px solid pink;
  border-bottom: 10px solid green; */

  /* border-top-width: 10px;
  border-top-style: solid; */
}

.images-title{
  font-size: 30px;
  /* margin-bottom: 10px 0; */
  margin-top: 0;
  margin-bottom: 10px;
}
.images-usage,
.images-date,
.images-url{
  margin: 10px 0;
}

.images-description{
  font-size: 20px;
  text-align: justify;
}

.images-details{
  width: 500px;
  /* con el height podemos superponer elementos, un tip */
}

.images-imageContainer{
  width: 450px;
}

.images strong{
  font-family:  Arial;
}

.flexbox{
  display: flex;
  flex-wrap: wrap;   /*si se termina renglon poener en el siguiente */
}

.box{
  width: 200px;
  height: 200px;
  border: 1px solid red;
  flex-shrink: 0;   /*que tanto se encoge valores de 0-1 */
}

.experience-list{
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
}
.experience{
  /* border: 1px solid white; */
  margin: 10px;
  width: 450px;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  background: #f4fbff;
}

.experience-image{
  width: 480px;
  object-fit: cover;
}
.experience-details{
  margin: 20px 40px;
  margin-top: -40px;
  background-color: white;
  position: relative;
  padding: 20px;
  text-align: center;
}
.experience-smallTitle{
  letter-spacing: -1px;
}
.experience-description{
  text-align: justify;
}
.experience-url{
  color: #056fff;
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 5px;
}
.contact{
  background-color: #056fff;
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-form input{
  border-color: gray;
  border-radius: 5px;
  border-style: solid;
  padding:5px 20px;
  /* background-image: url(); si hay umagen svg */
  /* background-repeat: no-repeat; no repetir imagen */
  /* background-position-y: center; centrado en y */
  /* background-position-x: 5px; si hay imagen  */

}
.contact-form button{
  background: transparent;
  color: white;
  border-radius: 5px;
  padding: 5px 30px;
  border-color: white;
}
.social{
  /* border: 1px solid red; */
}
.social-link{
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  /* color: white; */
  /* border: 1px solid white; */
  background-size: 50px 50px;
}
.social-link.github{
  background-image: url('../images/github.svg');
}
.social-link.facebook{
  background-image: url('../images/facebook.svg');
}
.social-link.instagram{
  background-image: url('../images/instagram.svg');
}
.footer{
  background-color: #2d3436;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-div{
  display: inherit;
  align-items: center
}

.footer img{
  height: 100px;
  border-radius: 50%;
}
