@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?rhez5g');
  src:  url('../fonts/icomoon.eot?rhez5g#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?rhez5g') format('truetype'),
    url('../fonts/icomoon.woff?rhez5g') format('woff'),
    url('../fonts/icomoon.svg?rhez5g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-emoji_events:before {
  content: "\e903";
}
.icon-sports_motorsports:before {
  content: "\e904";
}
.icon-film1:before {
  content: "\e905";
}
.icon-coffee:before {
  content: "\e900";
}
.icon-graduate:before {
  content: "\e906";
}
.icon-medal:before {
  content: "\e907";
}
.icon-medal1:before {
  content: "\e908";
}
.icon-bike:before {
  content: "\e901";
}
.icon-weights:before {
  content: "\e902";
}
.icon-headphones:before {
  content: "\e910";
}
.icon-music:before {
  content: "\e911";
}
.icon-play:before {
  content: "\e912";
}
.icon-film:before {
  content: "\e913";
}
.icon-phone:before {
  content: "\e942";
}
.icon-location:before {
  content: "\e947";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-airplane:before {
  content: "\e9af";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-mail2:before {
  content: "\ea84";
}
.icon-google3:before {
  content: "\ea8a";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-github:before {
  content: "\eab0";
}
.icon-tux:before {
  content: "\eabd";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-finder:before {
  content: "\eabf";
}
.icon-android:before {
  content: "\eac0";
}
.icon-windows:before {
  content: "\eac1";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-chrome:before {
  content: "\ead9";
}
.icon-opera:before {
  content: "\eade";
}
.icon-file-pdf:before {
  content: "\eadf";
}
.icon-html-five:before {
  content: "\eae4";
}
.icon-css3:before {
  content: "\eae6";
}
.icon-codepen:before {
  content: "\eae8";
}
