header.header.theme
	i.icon-menu.burguer-button
	nav.menu
		ul
			li: a.link(href="curriculum.html") Curriculum
<<<<<<< HEAD
			li: a.link(href="#projects") Proyectos
=======
			li: a.link(href="#experience") Experiencia
>>>>>>> 9c43aff75c0009d7c43f1b4de6690b837a7d1eb6
			li: label#label Light theme