doctype html
html
	head
		title Jorge Cruz -- Frontend Developer and Professor
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, maximum-scale=1.0, user-scalable=no')
		link(rel="icon" type="image/png" href="images/favicon.png")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Ubuntu&display=swap" )
		link(rel='stylesheet', href='../css/style.css')
		link(rel='stylesheet', href='../css/estilos.css')
	body
		block body