//Variables
$Fuente1: 'Baloo Da 2', Arial;
$base-font: 'Baloo Da 2', Arial;
$Fuente2:  Ubuntu, Arial;
/**
* Colores del proyecto l-light, d-dark
* lan - languajes
* foot -footer
*/
$color-fondo-light: rgb(240,249,245);
$color-fondo-light-t: rgba(240,249,245, .7);
$color-fondo-dark: black;
$color-primario-l: #333333;
$color-primario-d: #8841DA;
$color-lan: rgb(255,118,96);
$color-foot: #2d3436;

//Mixins
@mixin display-flex-center {
	display: flex;
	align-items: center;
}

@mixin caja {
	color: $color-primario;
	box-shadow: 0px 20px 33px 0px rgba(0,0,0,0.20);
}

@mixin titulos($fuente) {
	@if $fuente ==$Fuente1 {
		font-family: $Fuente1;
	} @else {
		font-family: $Fuente2;
		text-transform: uppercase;
		font-weight: 700;
	}
}

@function calculateRem($size) {
	$remSize : $size /16px;
	@return $remSize * 1rem;
}

@mixin  font-size($size) {
	// font-size: $size;
	font-size: calculateRem($size);
	line-height: calculateRem($size)*1.5;
}

// Funciones
@function get-opacity($color, $amount) {
  @return rgba($color, $amount);
}

@each $header, $size in (h1: 30px, h2: 25px, h3: 20px) {
  #{$header} {
		font-size: $size;
		@include titulos($Fuente1);
		margin: 0;
  }
}

body{
	font-family: $Fuente1;
	margin: 0;
	background-color: $color-fondo-light;
}

h1, h2, h3, h4, h5, h6{
	font-family: $Fuente2;
	font-weight: normal;
	text-align: center;
}

ol, ul{
	margin: 0;
	list-style: none; 
}

h1{
	line-height: 1.5em;
	font-size: 32px;
	letter-spacing: -.3px;
	margin: 5px 0;
}

h2{
	text-transform: uppercase;
	font-family: Ubuntu, sans-serif;
	font-weight: bold;
	font-size: 24px;
	margin: 5px 0;
}
h3{
	margin: 5px 0;
}

.burguer-button{

	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.6);
	line-height: 35px;
	text-align: center;
	position: fixed;
	z-index: 4;
	left: 3px;
	top: 3px;
	color: white;
	@include media(tablet){
		display: none;
	}
	display: block;;
}
